#root {
  margin: 0 auto;
  min-height: 100vh; /* Đảm bảo chiều cao tối thiểu luôn bằng chiều cao viewport */
  width: 100%; /* Đảm bảo phủ toàn bộ chiều rộng */
  text-align: center;
  background-color: #f5f5f5;
}
