.payroll-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.payroll-content {
  max-width: 100%;
  padding-top: 80px;
  display: flex;
  .payroll-tool {
    width: 200px;
    border: 1px solid #ccc;
    .payroll-tool-box {
      max-width: 100%;
      margin: 10px 0;
    }
  }

  .payroll-detail {
    flex: 1;
    max-width: calc(100% - 200px);
    border: 1px solid #be0d0d;
  }
}
