.payroll-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.payroll-content {
  max-width: 1300px;
  padding-top: 60px;
  display: flex;
  margin: 0 auto;
  .payroll-tool {
    width: 250px;
    background-color: #f5f5f5;
    .payroll-tool-box {
      max-width: 100%;
      margin: 0 10px;
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 10px;
      img {
        width: 25px;
        height: 25px;
        margin-right: 10px;
      }
    }
  }

  .payroll-detail {
    flex: 1;
    max-width: calc(100% - 250px);
    border: 1px solid #be0d0d;
  }
}
