.salary-management-container {
  .salary-management-content {
    .smt-detail {
      .history-profile {
        display: flex;
        align-items: center;
        align-items: center;
        margin: 10px 0;
        gap: 15px;
        .hp-img {
          img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
