.admin-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.admin-content {
  max-width: 1300px;
  padding-top: 50px;
  display: flex;
  margin: 0 auto;
  align-items: stretch;

  .admin-tool {
    width: 250px;
    background-color: #f5f5f5;
    border-right: 1px solid #E0E0E0;
    position: fixed;
    top: 50px;
    z-index: 10;
    height: calc(100vh - 50px);
    overflow-y: auto;

    .admin-tool-box {
      max-width: 100%;
      margin: 0 10px;
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      svg {
        width: 25px;
        height: 25px;
        margin-right: 10px;
      }

      &:hover {
        background-color: #e0e0e0;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .admin-detail {
    flex: 1;
    width: 1050px;
    margin-left: 250px;
    padding: 20px;
  }
}
