.attendance-history-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;

    .attendance-history-header {
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .ahh-title {
            padding-top: 10px;
            display: flex;
            gap: 8px;
        }
    }

    .attendance-history-content {
        padding: 0 20px;
        display: flex;
        justify-content: center;
        text-align: start;

        .ahc-detail {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            width: 100%;
            max-width: 1200px;

            .ahcd-search {
                position: relative;
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                .ahcd-search-icon {
                    position: absolute;
                    left: 10px;
                    color: gray;
                }

                .ahcd-search-input {
                    padding-left: 35px;
                    width: 100%;
                    max-width: 500px;
                    height: 40px;
                    border-radius: 10px;
                    outline: none;
                    border: 1px solid #ccc;
                }
            }

            .ahcd-title {
                font-weight: 700;
                margin-bottom: 15px;
            }

            .ahc-table {
                font-size: 14px;
                text-align: center;
                display: block;

                th {
                    background-color: #f5f5f5 !important;
                    border-right: 1px solid #e0e0e0 !important;
                    vertical-align: middle;
                    text-align: center;
                }

                tr {
                    border: none;
                    height: 50px;
                }

                td {
                    border: none;
                    max-width: 100px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                td.td-hover {
                    max-width: 100px;
                }
            }
        }
    }
}
