.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  // min-height: 100vh;
  padding-top: 30px;
  .card {
    background: #f5f5f5;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    border: none;

    .title {
      text-align: center;
      color: #4f46e5;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1.5rem;
    }

    .info-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: #374151;
    }

    .info-row {
      display: flex;
      justify-content: space-between;
      // border-bottom: 1px solid #e5e7eb;
      padding-bottom: 0.5rem;

      .label {
        font-weight: 600;
      }

      .value {
        text-align: right;
      }
    }
  }
}

.loading {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.2rem;
  color: #6b7280;
}
